<h1 mat-dialog-title>Add a new ticket</h1>
<div mat-dialog-content>
  <p>Ticket detais</p>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title" name="title" required placeholder="Enter the ticket title"
      autocomplete="off">
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.description" name="description" placeholder="Enter the ticket description"
      autocomplete="off"></textarea>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add ticket</button>
</div>