<mat-list-option
  [value]="participant!.participantId"
  [ngClass]="{ 'highlighted-participant-row': participant!.highlighted }"
>
  <mat-icon
    mat-list-icon
    [ngStyle]="{ color: participant!.connected ? 'green' : 'red' }"
    >account_circle</mat-icon
  >
  <mat-icon mat-list-icon *ngIf="showDownArrowIcon">arrow_drop_down</mat-icon>

  <p class="left-align" style="flex-grow: inherit">
    {{ participant?.name }}
  </p>

  <div class="right-align">
    <mat-icon mat-icon-button *ngIf="isVotingState">
      {{ votingIcon(participant!.participantId) }}
    </mat-icon>
    <div
      mat-icon-button
      *ngIf="
        isFinishedVotingState && votingValue(participant!.participantId) != null
      "
    >
      {{ votingValue(participant!.participantId) }}
    </div>
    <mat-icon
      mat-icon-button
      *ngIf="
        isFinishedVotingState && votingValue(participant!.participantId) == null
      "
    >
      shortcut
    </mat-icon>
  </div>
</mat-list-option>
