<mat-card class="product-card" *ngIf="isNoneState">
  <mat-card-content>
    <mat-card-title>{{sessionName}}</mat-card-title>
    <mat-card-subtitle>To start voting on tickets, you need to add a ticket first</mat-card-subtitle>

    <h2>Session code</h2>
    <mat-card-subtitle>{{sessionCode}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="purple-button-command" (click)="onClickAddTicket()">
      Add ticket
    </button>
    <button mat-raised-button class="purple-button-command" (click)="onClickEndSession()">
      End session
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="product-card" *ngIf="isVotingState">
  <mat-card-content>
    <mat-card-title>{{sessionName}}</mat-card-title>

    <h2>Session code</h2>
    <mat-card-subtitle>{{sessionCode}}</mat-card-subtitle>

    <h2>Ticket title</h2>
    <mat-card-subtitle>{{ticket!.title}}</mat-card-subtitle>

    <h2>Ticket description</h2>
    <mat-card-subtitle>{{ticket!.description}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="purple-button-command" (click)="onClickAddTicket()">
      Add ticket
    </button>
    <button mat-raised-button class="purple-button-command" (click)="onClickFinishVoting()">
      Finish voting
    </button>
    <button mat-raised-button class="purple-button-command" (click)="onClickEndSession()">
      End session
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="product-card" *ngIf="isFinishedVotingState">
  <mat-card-content>
    <mat-card-title>{{sessionName}}</mat-card-title>
    <h2>Session code</h2>
    <mat-card-subtitle>{{sessionCode}}</mat-card-subtitle>

    <h2>Ticket title</h2>
    <mat-card-subtitle>{{ticket!.title}}</mat-card-subtitle>

    <h2>Ticket description</h2>
    <mat-card-subtitle>{{ticket!.description}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="purple-button-command" (click)="onClickAddTicket()">
      Add ticket
    </button>
    <button mat-raised-button class="purple-button-command" (click)="onClickRevote()">
      Revote
    </button>
    <button mat-raised-button class="purple-button-command" (click)="onClickEndSession()">
      End session
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="product-card" *ngIf="isErrorState">
  <mat-card-content>
    <mat-card-title>{{sessionName}}</mat-card-title>
    <mat-card-subtitle>Something has gone horribly wrong. Please start a new session.</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="purple-button" routerLink="./planning/host">
      Go back to landing
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="product-card" *ngIf="isSessionEndedState">
  <mat-card-content>
    <mat-card-title>{{sessionName}}</mat-card-title>
    <mat-card-subtitle>The session has been ended.</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button class="purple-button" routerLink="./">
      Go back to landing
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="product-card" *ngIf="isNoneState || isVotingState || isFinishedVotingState">
  <mat-card-content>
    <mat-card-title>Participants</mat-card-title>
  </mat-card-content>
  <mat-card-actions>
    <mat-selection-list #participantsList [multiple]="false">
      <mat-list-option *ngFor="let participant of participants" [value]="participant.participantId">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        {{participant.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-actions>
</mat-card>