<mat-card class="product-card">
    <mat-card-content>
        <mat-card-title>Sprint Planning Poker</mat-card-title>
        <p>
            Scrum poker, is a consensus-based, gamified technique for estimating, mostly used to estimate effort or
            relative size of development goals in software development.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <mat-list role="navigation">
            <mat-list-item><button mat-raised-button class="purple-button" (click)="onClickHost()">Host a session</button></mat-list-item>
            <mat-list-item><button mat-raised-button class="purple-button" (click)="onClickJoin()">Join a session</button></mat-list-item>
        </mat-list>
    </mat-card-actions>
</mat-card>