<mat-card class="product-card">
  <mat-card-content>
    <mat-card-title>Host a Sprint Planning Poker Session</mat-card-title>
    <mat-card-subtitle>Provide the details necessary start a new session</mat-card-subtitle>

    <form #sessionForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Session name</mat-label>
        <input matInput [(ngModel)]="sessionName" name="sessionName" placeholder="Enter the name of the session"
          required minlength="2" autocomplete="off" />
      </mat-form-field>

      <h3>Available Cards</h3>
      <mat-selection-list #selectAvailableCardsList [(ngModel)]="selectedAvailableCards"
        (ngModelChange)="onNgModelChange($event)" name="selectAvailableCardsList" minlength="1">
        <mat-list-option *ngFor="let availableCard of availableCards" [value]="availableCard">
          {{ planningCardMapper.cardName(availableCard) }}
        </mat-list-option>
      </mat-selection-list>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <mat-list role="navigation">
      <mat-list-item><button mat-raised-button [disabled]="
            !sessionForm.form.valid || selectedAvailableCards.length == 0
          " class="purple-button" (click)="onClickStartSession()">
          Start session
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-actions>
</mat-card>