<mat-card class="product-card">
  <mat-card-content>
    <mat-card-title>Participants</mat-card-title>
  </mat-card-content>
  <mat-card-actions>
    <mat-selection-list #participantsList [multiple]="false">
      <app-planning-participant-row [matMenuTriggerFor]="menu" #menuTrigger *ngFor="let participant of participants"
        [participant]="participant" [isVotingState]="isVotingState" [isFinishedVotingState]="isFinishedVotingState"
        [ticket]="ticket"></app-planning-participant-row>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onClickSkipVote(participantsList.selectedOptions.selected[0].value)"
          *ngIf="isVotingState">
          Skip vote
        </button>
        <button mat-menu-item (click)="onClickRemoveParticipant(participantsList.selectedOptions.selected[0].value)">
          Remove participant
        </button>
      </mat-menu>
    </mat-selection-list>
  </mat-card-actions>
</mat-card>